$defaultColor: #0ABE5F;
$defaultHoverColor: rgba($color: $defaultColor, $alpha: 0.7);

.v-primary-btn {
  background: $defaultColor !important;
  border-color: $defaultColor !important;
}

.v-edit-btn {
  color: #fcba03;
  height: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 12px;
}

.v-view-btn {
  color: #009688;
  height: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 12px;
}
.v-add-btn {
  color: #85ce61;
  height: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 12px;
}
.v-delete-btn {
  color: #f78989;
  height: 20px;
  line-height: 20px;
  padding: 0;
  font-size: 12px;
}

::v-deep .el-tag--primary {
  background-color: transparent !important;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: $defaultColor !important;
}
::v-deep .el-tag--success {
  background-color: transparent !important;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #67c23a !important;
}
::v-deep .el-tag--danger {
  background-color: transparent !important;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #f56c6c !important;
}
::v-deep .el-tag--warning {
  background-color: transparent !important;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #e6a23c !important;
}
::v-deep .el-tag--info {
  background-color: transparent !important;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #909399 !important;
}